@media (max-width: 768px) {
  .hero {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .hero__title {
    font-size: 2.4rem;
  }

  .hero__buttons {
    gap: 10px;
  }

  .hero__buttonPrimary,
  .hero__buttonGhost {
    width: 100%;
    justify-content: center;
  }
}
